<a href="https://colab.research.google.com/github/SkShoheb33/ComputationStatistics/blob/main/MANOVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = []
k = int(input("Enter number of treatments : "))
for i in range(k):
  num = int(input("Enter the number of groups in treatment {} : ".format(i+1)))
  #taking the data in y1,y2
  print("Enter treatment {} data : ".format(i+1))
  treatment = []
  for j in range(num):
    treatment.append(list(map(int,input().split())))
  data.append(treatment)

Enter number of treatments : 3
Enter the number of groups in treatment 1 : 3
Enter treatment 1 data :
9 3
6 2
9 7
Enter the number of groups in treatment 2 : 2
Enter treatment 2 data :
0 4
2 0
Enter the number of groups in treatment 3 : 3
Enter treatment 3 data :
3 8
1 9
2 7

In [ ]:
for i in data:
  print(i)

[[9, 3], [6, 2], [9, 7]]
[[0, 4], [2, 0]]
[[3, 8], [1, 9], [2, 7]]

In [ ]:

(s,s3,s4,n) = (0,0,0,0)
mean_yi = []
for treatment in data:
  s1 = 0
  s2 = 0
  for group in treatment:
    s1 += group[0]
    s2 += group[1]
    n+=1
  s3 += s1
  s4 += s2
  mean_yi.append([s1/len(treatment),s2/len(treatment)])
mean_yii= [s3/n,s4/n]

In [ ]:
#sse,ssr,sst
sse_y1,sst_y1,sst_y2,sse_y2,sse_y12,sst_y12 = 0,0,0,0,0,0
for i in range(k):
  for j in data[i]:
    sse_y1 += (j[0]-mean_yi[i][0])**2
    sst_y1 += (j[0]-mean_yii[0])**2
    sse_y2 += (j[1]-mean_yi[i][1])**2
    sst_y2 += (j[1]-mean_yii[1])**2
    sse_y12 += (j[0]*j[1]-mean_yi[i][0]*mean_yi[i][1])
    sst_y12 += (j[0]*j[1]-mean_yii[0]*mean_yii[1])
ssr_y1 = sst_y1 - sse_y1
ssr_y2 = sst_y2 - sse_y2
ssr_y12 = sst_y12 - sse_y12

In [ ]:
#table 
import numpy as np
import math
B = np.array([[ssr_y1,ssr_y12],[ssr_y12,ssr_y2]])
W = np.array([[sse_y1,sse_y12],[sse_y12,sse_y2]])
T = np.array([[sst_y1,sst_y12],[sst_y12,sst_y2]])

In [ ]:
degreeOfFreedom_regression = k - 1
degreeOfFreedom_error = n - k
degreeOfFreedom_total = n - 1

In [ ]:
det_W = np.linalg.det(W)
det_T = np.linalg.det(T)
lamda = abs(det_W)/abs(det_T)
lamda

0.0384553499597747

In [ ]:
f_cal = ((n-k-1)/(k-1))*((1-math.sqrt(lamda))/math.sqrt(lamda))
f_cal

8.198859563778381

In [ ]:
import scipy.stats as sci
f_table = sci.f.ppf(0.95,2*(k-1),2*(n-k-1))
f_table

3.837853354555897

In [ ]:
table = {
    'Source of variation ':['Regression','Error','Total'],
    'Sum of squares ':[B,W,T],
    'degree of freedom ':[degreeOfFreedom_regression,degreeOfFreedom_error,degreeOfFreedom_total],
    'Wills value':['',lamda,''],
    'f-statistic':['',f_cal,'']
}

In [ ]:
import pandas as pd
pd.DataFrame(table)

,Source of variation,Sum of squares,degree of freedom,Wills value,f-statistic
0,Regression,"[[78.0, -12.0], [-12.0, 48.0]]",2,,
1,Error,"[[10.0, 1.0], [1.0, 24.0]]",5,0.038455,8.19886
2,Total,"[[88.0, -11.0], [-11.0, 72.0]]",7,,

In [ ]:
#inference
if f_cal>=f_table:
  print("Reject H0")
else:
  print("Accept_H0")

Reject H0